<section class="accordeon" id="accordeon">
    <div class="mbox">
        <h2>Что интересно клиентам</h2>
        <div class="accordeon__wrap">
            <div class="accordeon__left">
                <ul>
                    <li><h5>Какие есть варианты оплаты? Возможна ли рассрочка?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Сколько лет простоит ваш гараж? Насколько он надежен?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Какие гарантии вы даете на свои изделия?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Вы отвечаете за своих рабочих на время строительства?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Нужно ли мне присутствовать при строительстве?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Что будет если мне не понравится то, что вы построите?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Можно ли заказать отделку под дерево или кирпич?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Нужно ли мне подводить воду и электричество к гаражу или вы сами это сделаете?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Нужно ли отапливать гараж из сэндвич-панелей зимой?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Правда ли, что гараж из сэндвич-панелей дороже аналогов из кирпича или дерева?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Говорят такой гараж может сдуть сильным ветром?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Какие замки ставят на ваши гаражи? Легко ли их взломать?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Можно ли выбрать цвет гаража в тон моего дома или забра?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Как ухаживать за гаражом? Будет ли он ржаветь снаружи?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                    <li><h5>Гаражи из сэндвич панелей пожаробезопасны?</h5><div class="accordeon__dropdown">
                        <p>Каждый гараж из сэндвич панелей строится нами на основе расчетов. И в каждом расчете
                            учитывается ветровая нагрузка.</p>
                        <p> Основными параметрами, необходимыми для расчета являются: регион ветровой нагрузки,
                            угол ската кровли и высота постройки.</p>
                        <p> 99% гаражей — одноэтажные здания с углом ската до 30, парусность которых минимальна.</p>
                        <p>При этом Московская область и центральная часть России в целом, относится к первому
                            региону ветровой нагрузки, так как практически полностью покрыты лесами, т.е сила ветра
                            и сама ветровая нагрузка в таких условиях незначительны.</p>
                    </div></li>
                </ul>
            </div>
            <div class="accordeon__right">
                <div class="accordeon__info">
                    <p><b>10 885</b> м²</p>
                    <p>гаражей построили за 5 лет</p>
                </div>
                <div class="accordeon__info">
                    <p><b>10</b></p>
                    <p>собственных монтажных бригады</p>
                </div>
                <div class="accordeon__form">
                    <img src="images/subscribe.png" alt="">
                    <h5>Одиннадцать секретов идеального гаража</h5>
                    <p><i>В серии писем расскажем
                        как построить гараж
                        мечты и сэкономить
                        до 72 000 &#8381;</i></p>
                    <form action="ajax.php" class="subscribe-validate">
                        <label><img src="images/name.png" alt=""><input type="text" required="required" name="name" placeholder="Ваше имя"></label>
                        <label><img src="images/mail.png" alt=""><input type="email" required="required" name="email" placeholder="Ваш email"></label>
                        <button><span>Подписаться</span></button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>



