<section class="build" id="build">
    <div class="mbox">
        <h2>Строим нестандартные гаражи</h2>
        <h3> Решаем индивидуальные задачи любой сложности</h3>
        <div class="build__content">
            <div class="build__item">
                <div class="build__img">
                    <img src="" alt="">
                </div>
                <div class="build__txt">
                    <h5>Пристройка к дому</h5>
                    <p>Намного проще, чем капитальное строитель-
                        ство гаража</p>
                </div>
            </div>
            <div class="build__item">
                <div class="build__img">
                    <img src="" alt="">
                </div>
                <div class="build__txt">
                    <h5>Гараж с хозблоком</h5>
                    <p> Подходит настоящим мастерам. Есть место для инструментов и склада</p>
                </div>
            </div>
            <div class="build__item">
                <div class="build__img">
                    <img src="" alt="">
                </div>
                <div class="build__txt">
                    <h5>Гараж в форме трапеции</h5>
                    <p>Не представляю зачем
                        он нужен, но наверное кому-то пригодится</p>
                </div>
            </div>
            <div class="build__item">
                <div class="build__img">
                    <img src="" alt="">
                </div>
                <div class="build__txt">
                    <h5>Гараж с мансардой</h5>
                    <p> Выполняет функцию домика для гостей. Только не забудьте про отопление</p>
                </div>
            </div>
        </div>
        <a href="#call-popup" data-fancybox class="button"><span>Замерять бесплатно</span></a>
    </div>
</section>