<section class="call" id="call2">
    <div class="call__banner">
        <h4>Бесплатный замер и рассчет</h4>
        <p> Приедем, проконсультируем, сделаем замер <br>
            и рассчитаем лучший вариант</p>
        <a href="#call-popup" data-fancybox class="button"><span>Сделать замер</span></a>
    </div>
    <div class="call__bg"></div>
</section>
<section class="number">
    <div class="mbox">

        <h2>+7 123 45-67-890</h2>
        <p> Наши менеджеры прекрасно разбираются в технологии <br>
            и бесплатно ответят на все вопросы по телефону </p>
    </div>
</section>