<section class="feedbacks">
    <div class="mbox">
        <h2>Отзывы наших клиентов</h2>
    </div>
    <div class="feedbacks__slider-wrap">
        <div class="feedbacks__slider">
            <div class="feedbacks__slide-wrap">
                <div class="feedbacks__slide">
                    <div class="feedbacks__video">
                        <iframe  src="https://www.youtube.com/embed/RY1Ioj0_OAM" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="feedbacks__txt">Константин Андреевич, г. Дедовск</div>
                </div>
            </div>
            <div class="feedbacks__slide-wrap">
                <div class="feedbacks__slide">
                    <div class="feedbacks__video">
                        <iframe  src="https://www.youtube.com/embed/nP2Mw-C2jLA" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="feedbacks__txt">Константин Андреевич, г. Дедовск</div>
                </div>
            </div>
            <div class="feedbacks__slide-wrap">
                <div class="feedbacks__slide">
                    <div class="feedbacks__video">
                        <iframe  src="https://www.youtube.com/embed/nP2Mw-C2jLA" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="feedbacks__txt">Константин Андреевич, г. Дедовск</div>
                </div>
            </div>
            <div class="feedbacks__slide-wrap">
                <div class="feedbacks__slide">
                    <div class="feedbacks__video">
                        <iframe  src="https://www.youtube.com/embed/nP2Mw-C2jLA" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="feedbacks__txt">Константин Андреевич, г. Дедовск</div>
                </div>
            </div>
            <div class="feedbacks__slide-wrap">
                <div class="feedbacks__slide">
                    <div class="feedbacks__video">
                        <iframe  src="https://www.youtube.com/embed/nP2Mw-C2jLA" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="feedbacks__txt">Константин Андреевич, г. Дедовск</div>
                </div>
            </div>
        </div>
    </div>
</section>