<section class="garage" id="garage">
    <div class="mbox">
        <h2>Построенные гаражи</h2>
    </div>
    <div class="garage__content">
        <div class="garage__img">
            <img src="images/gar01.jpg" alt="">
        </div>
        <div class="garage__right">
            <div class="garage__button-wrap">
                <div class="garage__button tohide"><span></span><a href="#">Убрать подробности</a></div>
                <div class="garage__button toshow"><span></span><a href="#">Показать подробности</a></div>
            </div>
            <div class="garage__text">
                <div class="garage__text-container">

                </div>
                <div class="garage__button garage__button--down"><span></span><a href="#" class="scrolle-the-text">Читать дальше</a></div>
            </div>
        </div>
    </div>
    <div class="garage__slider">
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case01.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox >Чертеж и эскиз</a></li>
                        </ul>
                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>
                        <p>Площадка под строительство была в низине. Это значит, что каждой весной талые воды будут подтапливать гараж.</p>
                        <p>Мы сделали замер и разметку, возвели кирпичные колонны, устроили ленточный фундамент чтобы убрать перепады высоты на участке и сделали бетонную стяжку пола. Высоту плиты подбирали так, чтобы исключить подтекание воды в гараж.</p>
                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>
                        <p>Площадка под строительство была в низине. Это значит, что каждой весной талые воды будут подтапливать гараж.</p>
                        <p>Мы сделали замер и разметку, возвели кирпичные колонны, устроили ленточный фундамент чтобы убрать перепады высоты на участке и сделали бетонную стяжку пола. Высоту плиты подбирали так, чтобы исключить подтекание воды в гараж.</p>
                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>
                        <p>Площадка под строительство была в низине. Это значит, что каждой весной талые воды будут подтапливать гараж.</p>
                        <p>Мы сделали замер и разметку, возвели кирпичные колонны, устроили ленточный фундамент чтобы убрать перепады высоты на участке и сделали бетонную стяжку пола. Высоту плиты подбирали так, чтобы исключить подтекание воды в гараж.</p>
                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>
                        <p>Площадка под строительство была в низине. Это значит, что каждой весной талые воды будут подтапливать гараж.</p>
                        <p>Мы сделали замер и разметку, возвели кирпичные колонны, устроили ленточный фундамент чтобы убрать перепады высоты на участке и сделали бетонную стяжку пола. Высоту плиты подбирали так, чтобы исключить подтекание воды в гараж.</p>
                        <p>END</p>
                        <p>END</p>
                        <p>END</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case02.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case03.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case04.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case05.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case06.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case07.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case08.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case09.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case10.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case11.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case12.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case13.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case14.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="garage__slide-wrap">
            <div class="garage__slide" data-img="images/case15.jpg">
                <img src="images/case15-thumb.jpg" alt="">
                <div class="garage__slide-hidden">
                    <div class="garage__scroll-text">
                        <h4> Встроенный в забор гараж 2</h4>
                        <ul>
                            <li><i><img src="images/ic-size.png" alt=""></i>6×4×2,9 м</li>
                            <li><i><img src="images/ic-marker.png" alt=""></i>г. Дедовск</li>
                            <li><i><img src="images/ic-bp.png" alt=""></i><a href="images/gar01.jpg" data-fancybox>Чертеж и эскиз</a></li>
                        </ul>

                        <p>Олег Федорович хотел поставить гараж фасадной стеной на улицу и гармонично «вписать» его в забор.</p>

                    </div>
                </div>
            </div>
        </div>



    </div>
   
</section>