<!-- HEADER -->
<header>
    <div class="header">
        <div class="mbox">
            <div class="header__wraper">
                <div class="header__left">
                    <a href="#" class="header__logo"><img src="images/logo.png" alt=""></a>
                    <div class="header__nav">
                        <div class="butter"><span></span><span></span><span></span></div>
                        <ul>
                            <li><a href="#slider" class="anchor">Технология</a></li>
                            <li><a href="#garage" class="anchor">Портфолио</a></li>
                            <li><a href="#constructor" class="anchor">Конструктор</a></li>
                            <li><a href="#accordeon" class="anchor">FAQ</a></li>
                            <li><a href="#sevices" class="anchor">Доп. услуги</a></li>
                            <li><a href="#" target="_blank">Блог</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header__tel">
                    <p> ПН—ПТ, с 9 до 22</p>
                    <a href="tel:+74993720682">+7 499 372-06-82</a>
                </div>
            </div>
        </div>
        <div class="green-line"></div>
    </div>
</header>
<!-- /HEADER -->

