<section class="map">
    <div class="mbox"><h2>Построили 291 гараж за 5 лет</h2></div>
    <div class="map__map" id="map"></div>
    <div class="map__form">
        <div class="mbox">
            <form action="ajax.php" class="map-validation">
                <div class="map__wrap">
                    <div class="map__item map__item--left">
                        <h5>Приглашаем на экскурсию на готовый объект</h5>
                        <p>Бесплатно отвезем вас к ближайшему доступному
                            гаражу и все покажем.</p>
                    </div>
                    <div class="map__item map__item--center form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                        </div>
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                        </div>
                    </div>
                    <div class="map__item map__item--right">
                        <button class="button"><span>Записаться</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>