<section class="second">
    <div class="mbox">
        <h2>Гараж из сэндвич-панелей — 
            это круто и современно</h2>
        <div class="second__items">
            <div class="second__item">
                <div class="second__img"><img src="" alt=""></div>
                <div class="second__txt">
                    <p><b>Тепло</b></p>
                    <p>
                        Утепляем все гаражи пено-
                        полистиролом, поэтому машина будет легко заводиться зимой</p>
                </div>
            </div>
            <div class="second__item">
                <div class="second__img"><img src="http://i1.rozetka.ua/goods/417010/asus_xonar_dgx_images_417010142.jpg" alt=""></div>
                <div class="second__txt">
                    <p><b>Экономно</b></p>
                    <p>
                        Гаражи из сэндвич-панелей сокращают расходы на отопление на 43% благодаря утеплителю</p>
                </div>
            </div>
            <div class="second__item">
                <div class="second__img"><img src="" alt=""></div>
                <div class="second__txt">
                    <p><b>Быстро</b></p>
                    <p>
                        Все подготовительные работы, строительство и уборка территории занимают 4—6 дней</p>
                </div>
            </div>
            <div class="second__item">
                <div class="second__img"><img src="" alt=""></div>
                <div class="second__txt">
                    <p><b>Надежно</b></p>
                    <p>
                        Строим с 30% запасом прочности
                        с учетом пиковой снеговой нагрузки зимой</p>
                </div>
            </div>
            <div class="second__item">
                <div class="second__img"><img src="" alt=""></div>
                <div class="second__txt">
                    <p><b>Без нервов</b></p>
                    <p>
                        Ваше присутствие на стройке необязательно. Строители живут автономно в палатке</p>
                </div>
            </div>
            <div class="second__item">
                <div class="second__img"><img src="" alt=""></div>
                <div class="second__txt">
                    <p><b>Красиво</b></p>
                    <p>
                        Отделка гаража похожа на сайдинг. Его очень легко содержать
                        в чистоте и обслуживать</p>
                </div>
            </div>
        </div>
    </div>
</section>