<section class="services">
    <div class="mbox">
        <h2>Дополнительные услуги</h2>
        <h3>Обустройство гаража после постройки — самая интересная часть дела</h3>
        <div class="services__wrap">
            <div class="services__row-wrap">
                <div class="services__row">
                <div class="services__item services__item--big">
                    <div class="services__img"><img src="images/dop01.jpg" alt=""></div>
                    <div class="services__txt">
                        <p><b>Проведем внутренюю разводку электрики и поставим освещение в гараже</b></p>
                    </div>
                </div>
                <div class="services__item services__item--small">
                    <div class="services__img"><img src="images/dop04.jpg" alt=""></div>
                    <div class="services__txt">
                        <p><b>Автоматический
                            привод для ворот</b></p>
                        <p> Очень неудобно открывать
                            ворота вручную, когда вы
                            держите в руках что-то
                            тяжелое</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="services__row-wrap">
                <div class="services__row">
                <div class="services__item services__item--small">
                    <div class="services__img"><img src="images/dop05.jpg" alt=""></div>
                    <div class="services__txt">
                        <p><b>Защитная эмаль
                            «Хаммерит»</b></p>
                        <p>
                            Дополнительная защита
                            поможет гаражу
                            выдержать перепады
                            температуры</p>
                    </div>
                </div>
                <div class="services__item services__item--half">
                    <div class="services__img"><img src="images/dop02.jpg" alt=""></div>
                    <div class="services__txt">
                        <p><b>Водосточная система</b> Пригодится для гаражей,
                            которые стоят около дома. Критически важна
                            если у вас односкатная крыша</p>
                    </div>
                </div>
                <div class="services__item services__item--half">
                    <div class="services__img"><img src="images/dop03.jpg" alt=""></div>
                    <div class="services__txt">
                        <p><b>Стеллажи и верстак</b> нужны рукастым хозяевам
                            для того чтобы складывать любимый инструмент
                            и мастерить в свободное время</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="services__row-wrap">
                <div class="services__row">
                <div class="services__item services__item--big">
                    <div class="services__img"><img src="images/dop01.jpg" alt=""></div>
                    <div class="services__txt">
                        <p><b>Проведем внутренюю разводку электрики и поставим освещение в гараже</b></p>
                    </div>
                </div>
                <div class="services__item services__item--small">
                    <div class="services__img"><img src="images/dop04.jpg" alt=""></div>
                    <div class="services__txt">
                        <p><b>Автоматический
                            привод для ворот</b></p>
                        <p> Очень неудобно открывать
                            ворота вручную, когда вы
                            держите в руках что-то
                            тяжелое</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="services__row-wrap">
                <div class="services__row">
                <div class="services__item services__item--small">
                    <div class="services__img"><img src="images/dop05.jpg" alt=""></div>
                    <div class="services__txt">
                        <p><b>Защитная эмаль
                            «Хаммерит»</b></p>
                        <p>
                            Дополнительная защита
                            поможет гаражу
                            выдержать перепады
                            температуры</p>
                    </div>
                </div>
                <div class="services__item services__item--half">
                    <div class="services__img"><img src="images/dop02.jpg" alt=""></div>
                    <div class="services__txt">
                        <p><b>Водосточная система</b> Пригодится для гаражей,
                            которые стоят около дома. Критически важна
                            если у вас односкатная крыша</p>
                    </div>
                </div>
                <div class="services__item services__item--half">
                    <div class="services__img"><img src="images/dop03.jpg" alt=""></div>
                    <div class="services__txt">
                        <p><b>Стеллажи и верстак</b> нужны рукастым хозяевам
                            для того чтобы складывать любимый инструмент
                            и мастерить в свободное время</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="seemore-button"><span>Показать еще</span></div>
        </div>
    </div>
</section>