<section class="slider" id="slider">
    <div class="mbox">
        <h2>Технология производства</h2>
        <h3>Каждый элемент гаража из сендвич-панелей — это продуманное
            технологичное решение. Убедитесь в этом сами:</h3>
        <div class="slider__tabs">
            <div class="slider__tab">
                <div class="slider__tabindex">Фундамент</div>
                <ul class="slider__dropdown">
                   <li data-slide="1">Винтово-свайный</li>
                   <li data-slide="2">Плита</li>
                </ul>
            </div>
            <div class="slider__tab">
                <div class="slider__tabindex">Проект</div>
                <ul class="slider__dropdown">
                    <li data-slide="3">Эскиз и план</li>
                    <li data-slide="4"> Спецификации</li>
                    <li data-slide="5">  Рассчеты</li>
                </ul>
            </div>
            <div class="slider__tab">
                <div class="slider__tabindex">Каркас</div>
                <ul class="slider__dropdown">
                    <li  data-slide="6">Заготовка материалов</li>
                    <li  data-slide="7">Трубы и фермы</li>
                    <li  data-slide="8">Защитная эмаль</li>
                    <li  data-slide="9">Сборка и гидроизоляция</li>
                    <li  data-slide="10">Анкерение</li>

                </ul>
            </div>
            <div class="slider__tab">
                <div class="slider__tabindex">Сэндвич-панель</div>
                <ul class="slider__dropdown">
                    <li  data-slide="11">Стеновая панель</li>
                    <li  data-slide="12">Кровельная панель</li>
                    <li  data-slide="13">Расходники</li>

                </ul>
            </div>
            <div class="slider__tab">
                <div class="slider__tabindex">Ворота</div>
                <ul class="slider__dropdown">
                    <li  data-slide="14">Ворота</li>
                    <li  data-slide="15">Двери</li>
                    <li  data-slide="16">Окна</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="slider__wrap">
        <div class="techno">
            <div class="tehno__wrap" data-slide="1">
                <div class="techno__slide">
                    <div class="techno__col">
                        <p><b>Преимущества Многовиткового свайного фундамента</b></p>
                        <ul>
                            <li> Монтируем 1 день с помощью техники</li>
                            <li> Подходит для всех типов грунта</li>
                            <li> Не нужно выкапывать яму и вывозить грунт со стройки</li>
                            <li> Можно строить в любую погоду</li>
                            <li> Не требует заливки бетоном</li>
                            <li> Монтировать фундамент можно на следующий день после ввинчивания свай</li>
                        </ul>
                        
                        <p><b>Особенности</b></p>
                        <ul>
                            <li> На участках с уклоном нужно будет организовать въезд в гараж и отделать цоколь фундамента.</li>
                            <li> Дополнительно пол нужно отсыпать щебнем или сделать бетонную стяжку</li>
                        </ul>
                        
                    </div>
                    <div class="techno__col techno__col--img">
                        <img src="images/slide01.png" alt="">
                    </div>
                    <div class="techno__col">
                        <p><b>Основные характеристики:</b></p>
                        <div class="dotted">
                            <div class="dotted_row">
                                <div class="dotted_left"><span>Производитель</span></div>
                                <div class="dotted_right"><span>АСG (Ю. Корея)</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_left"><span>Длина сваи</span></div>
                                <div class="dotted_right"><span>2000-2500 мм</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_left"><span>Диаметр сваи</span></div>
                                <div class="dotted_right"><span>76 мм</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_left"><span>Конструкция</span></div>
                                <div class="dotted_right"><span>цельная литая</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_left"><span>Наружное и внутреннее покрытие сваи</span></div>
                                <div class="dotted_right"><span>цинкование</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_left"><span>Несущая способность одной сваи</span></div>
                                <div class="dotted_right"><span>2000 мм от 2,5 т</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_left"><span>Обвязка</span></div>
                                <div class="dotted_right"><span>Двутавр 14</span></div>
                            </div>
                        </div>
                        <p><b><i>Резюме:</i></b></p>
                        <p><i>Витково-свайный фундамент — самый технологичный на сегодня. Он не требователен к грунтам и площадке</i></p>

                    </div>
                </div>
            </div>
            <div class="tehno__wrap"  data-slide="2">
                <div class="techno__slide">
                    <div class="techno__col"> <p><b>Преимущества Многовиткового свайного фундамента</b></p>
                        <ul>
                            <li> Подходит для всех типов грунта</li>
                            <li> Не требует обустройства пола</li>
                            <li> Монтаж за 1—2 дня</li>
                        </ul>
                        <p><b>Особенности</b></p>
                        <ul>
                            <li>Схватывается за 21 день</li>
                            <li>Необходимы земляные работы и обустройство опалубки</li>
                            <li>Нужен вывоз грунта</li>
                            <li>Не подходит для участков с уклоном</li>
                            <li>Зависит от погодных условий</li>
                            <li>Нужен подъезд для бетономесителя (подходит не для всех СНТ)</li>
                            <li>Высокая цена</li>
                        </ul>
                    </div>
                    <div class="techno__col techno__col--img">
                        <img src="images/slide02.jpg" alt="">
                    </div>
                    <div class="techno__col">
                        <p><b>Основные характеристики:</b></p>
                        <div class="dotted">
                            <div class="dotted_row">
                                <div class="dotted_left"><span>Толщина</span></div>
                                <div class="dotted_right"><span>150 мм</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_left"><span>Бетон</span></div>
                                <div class="dotted_right"><span>М300</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_left"><span>Арматура</span></div>
                                <div class="dotted_right"><span>Ø 10 мм</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_left"><span>Шаг армирования</span></div>
                                <div class="dotted_right"><span>200 мм</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_left"><span>Гидроизоляция</span></div>
                                <div class="dotted_right"><span>отсутствует</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_left"><span>Песчаная подушка</span></div>
                                <div class="dotted_right"><span>150 мм</span></div>
                            </div>

                        </div>
                        <p><b><i>Резюме:</i></b></p>
                        <p><i>Оптимальный вариант для всех типов грунта, включая проблемные.
                            Не требует дополнительного обустройства пола</i></p>

                    </div>
                </div>
            </div>
            <div class="tehno__wrap"  data-slide="3">
                <div class="techno__slide">
                    <div class="techno__col2">
                        <img src="images/slide03.jpg" alt="">
                        <p><b>Эскиз</b></p>
                        <p>На этом этапе мы определяем точные габариты гаража и планируем внутреннее размещение</p>
                    </div>
                    <div class="techno__col2">
                        <img src="images/slide04.jpg" alt="">
                        <p><b>Расчет на прочность</b></p>
                        <p>На этом этапе мы определяем точные габариты гаража и планируем внутреннее размещение</p>
                    </div>
                    <div class="techno__col2">
                        <img src="images/slide05.jpg" alt="">
                        <p><b>План на нулевой отметке</b></p>
                        <p>На этом этапе мы определяем точные габариты гаража и планируем внутреннее размещение</p>
                    </div>
                </div>
            </div>
            <div class="tehno__wrap"  data-slide="4">
                <div class="techno__slide">
                    <div class="techno__col2">
                        <img src="images/slide03.jpg" alt="">
                        <p><b>Спецификация на сэндвич-панели</b></p>
                        <p>На этом этапе мы определяем точные габариты гаража и планируем внутреннее размещение</p>
                    </div>
                    <div class="techno__col2">
                        <img src="images/slide04.jpg" alt="">
                        <p><b>Спецификация на металлокаркас</b></p>
                        <p>На этом этапе мы определяем точные габариты гаража и планируем внутреннее размещение</p>
                    </div>
                    <div class="techno__col2">
                        <img src="images/slide05.jpg" alt="">
                        <p><b>Спецификация фасонных элементов</b></p>
                        <p>На этом этапе мы определяем точные габариты гаража и планируем внутреннее размещение</p>
                    </div>
                </div>
            </div>
            <div class="tehno__wrap"  data-slide="5">
                <div class="techno__slide">
                    <div class="techno__col2">
                        <img src="images/slide03.jpg" alt="">
                        <p><b>Чертеж фермовых конструкций</b></p>
                        <p>На этом этапе мы определяем точные габариты гаража и планируем внутреннее размещение</p>
                    </div>
                    <div class="techno__col2">
                        <img src="images/slide04.jpg" alt="">
                        <p><b>Конструкторская карта на ворота</b></p>
                        <p>На этом этапе мы определяем точные габариты гаража и планируем внутреннее размещение</p>
                    </div>
                    <div class="techno__col2">
                        <img src="images/slide05.jpg" alt="">
                        <p><b>Готовый объект</b></p>
                        <p>На этом этапе мы определяем точные габариты гаража и планируем внутреннее размещение</p>
                    </div>
                </div>
            </div>
            <div class="tehno__wrap"  data-slide="6">
                <div class="techno__slide">
                    <div class="techno__col3">
                       <div class="techno__col3--imgbox"><img src="" alt=""></div>
                    </div>
                    <div class="techno__col3--txt">
                        <p><b>Заготовка материалов</b></p>
                        <p>  Трубы, фермы, анкеры и саморезы заготавливаются
                            у нас на складе. На объект мы выезжаем с готовым «конструктором», который остается только собрать
                            на месте. Так мы решаем проблему отходов
                            и значительно ускоряем строительство</p>
                    </div>
                </div>
            </div>
            <div class="tehno__wrap"  data-slide="7">
                <div class="techno__slide">
                    <div class="techno__col3">
                        <div class="techno__col3--imgbox"><img src="" alt=""></div>
                    </div>
                    <div class="techno__col3--txt">
                        <p><b>Профильные трубы</b></p>
                        <p> Металлокаркас гаража изготавливается
                            из профильных труб сечением 60х60 и толщиной
                            3 мм. Поэтому гараж прослужит вам в любых
                            погодных условиях
                            Трубы меньшего сечения с более тонкой стенкой
                            не обеспечивают необходимой прочности, а также
                            более подвержены ржавчине</p>
                        <p><b>Фермы </b></p>
                        <p>Расстояния между фермами кровли варьируется
                            от 1500 мм до 1700 мм. Это позволяет кровле
                            выдерживать снеговую нагрузку и сэкономить время
                            на чистке снега.
                            Если уведичить это расстояние, возникает опасность
                            деформации конструкции под снегом. Тогда придется
                            усилять металлокаркас кровли и повышать цену</p>
                    </div>
                </div>
            </div>
            <div class="tehno__wrap"  data-slide="8">
                <div class="techno__slide">
                    <div class="techno__col3">
                        <div class="techno__col3--imgbox"><img src="" alt=""></div>
                    </div>
                    <div class="techno__col3--txt">
                        <p><b>Защитное покрытие</b></p>
                        <p> Для защиты гаража от ржавчины, мы используем
                            на выбор клиента грунт-эмаль с преобразователем
                            ржавчины «Парлака» производства «Сергиев Посад»
                            или эмаль «Хамеррайт»</p>
                        <p><b>Почему это важно</b></p>
                        <p> При использовании более дешевых покрытий, таких
                            как эмаль «ГФ-21», на поверхности трубы быстро
                            появляются очаги коррозии. Поэтому приходится
                            постоянно заниматься зачисткой ржавчины
                            и обновлением лакокрасочного слоя</p>
                    </div>
                </div>
            </div>
            <div class="tehno__wrap"  data-slide="9">
                <div class="techno__slide techno__slide--rows">
                    <div class="techno__row">
                       <div class="techno__col2">
                           <img src="images/slide06.jpg" alt="">
                            <p>1. Из стальных профильных труб 60х60х3 мм монтируем металлокаркас (сварные соединения)</p>
                       </div>
                        <div class="techno__col2">
                            <img src="images/slide07.jpg" alt="">
                            <p>2. На металлокаркас наносим защитную грунт-эмаль с преобразователем ржавчины «Парлакс»</p>
                        </div>
                        <div class="techno__col2">
                            <img src="images/slide08.jpg" alt="">
                            <p>3. Монтируем ограждающие конструкции (сэндвич-панели для «теплых» вариантов, профлист — для «холодных»)</p>
                        </div>
                    </div>
                    <div class="techno__row">
                        <div class="techno__col2">
                            <img src="images/slide09.jpg" alt="">
                            <p>4. Закрываем все стыки и торцы фасонными элементами (нащельник, уголок, конёк), предварительно задуваем монтажной пеной</p>
                        </div>
                        <div class="techno__col2">
                            <img src="images/slide10.jpg" alt="">
                            <p>5. Гидроизолируем все стыки фасонных элементов силикововым герметиком</p>
                        </div>
                        <div class="techno__col2">
                            <img src="images/slide11.jpg" alt="">
                            <p>6. Монтируем двери и ворота</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tehno__wrap"  data-slide="10">
                <div class="techno__slide techno__slide--rows">
                    <div class="techno__row">
                        <div class="techno__col2">
                            <img src="images/slide06.jpg" alt="">
                            <p>1. Из стальных профильных труб 60х60х3 мм монтируем металлокаркас (сварные соединения)</p>
                        </div>
                        <div class="techno__col2">
                            <img src="images/slide07.jpg" alt="">
                            <p>2. На металлокаркас наносим защитную грунт-эмаль с преобразователем ржавчины «Парлакс»</p>
                        </div>
                        <div class="techno__col2">
                            <img src="images/slide08.jpg" alt="">
                            <p>3. Монтируем ограждающие конструкции (сэндвич-панели для «теплых» вариантов, профлист — для «холодных»)</p>
                        </div>
                    </div>
                    <div class="techno__row">
                        <div class="techno__col2">
                            <img src="images/slide09.jpg" alt="">
                            <p>4. Закрываем все стыки и торцы фасонными элементами (нащельник, уголок, конёк), предварительно задуваем монтажной пеной</p>
                        </div>
                        <div class="techno__col2">
                            <img src="images/slide10.jpg" alt="">
                            <p>5. Гидроизолируем все стыки фасонных элементов силикововым герметиком</p>
                        </div>
                        <div class="techno__col2">
                            <img src="images/slide11.jpg" alt="">
                            <p>6. Монтируем двери и ворота</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tehno__wrap" data-slide="11">
                <div class="techno__slide">
                    <div class="techno__col">
                        <div class="dotted">
                            <p><a href="#">1. Листовая оцинкованная сталь,</a><br> толщина: 0,5 мм</p>
                            <p> Обеспечивает жесткость конструкции,
                                а полимерное покрытие защищает металл от коррозии </p>
                        </div>
                        <div class="dotted">
                            <p><a href="#">2. Однокомпонентный клей</a><br>Klebchemie M.G. Becker </p>
                            <p>Немецкий клей крепко соединяет пено-
                                полистирол со стальными листами. </p>
                        </div>
                        <div class="dotted">
                            <p><a href="#">3. Полиэтиленовая пленка</a><br>Толщина: 50 мкм</p>
                            <p>Защищает от повреждений при погрузке
                                и транспортировке на объект</p>
                        </div>

                    </div>
                    <div class="techno__col techno__col--img">
                        <img src="images/slide12.jpg" alt="">
                    </div>
                    <div class="techno__col">
                        <div class="dotted">
                            <p><a href="#">4. Замковое соединение</a><br>Z-Lock</p>
                            <p>Препятствует проникновению паров и влаги внутрь утеплителя, обеспечивает плотное примыкание панелей</p>
                        </div>
                        <div class="dotted">
                            <p><a href="#">5. Утеплитель</a><br>Пенополистирол</p>
                            <p>Обеспечивает сохранение тепла в помещении </p>
                        </div>
                        <p><i>В целом стеновые панели делают толщиной от 50 до 80 мм, в зависимости от наличия и типа отопления
                            и климатических условий</i></p>

                    </div>
                </div>
            </div>
            <div class="tehno__wrap" data-slide="12">
                <div class="techno__slide">
                    <div class="techno__col">
                        <div class="dotted">
                            <p><a href="#">1. Листовая оцинкованная сталь,</a><br> толщина: 0,5 мм</p>
                            <p> Обеспечивает жесткость конструкции,
                                а полимерное покрытие защищает металл от коррозии </p>
                        </div>
                        <div class="dotted">
                            <p><a href="#">2. Однокомпонентный клей</a><br>Klebchemie M.G. Becker </p>
                            <p>Немецкий клей крепко соединяет пено-
                                полистирол со стальными листами. </p>
                        </div>
                        <div class="dotted">
                            <p><a href="#">3. Полиэтиленовая пленка</a><br>Толщина: 50 мкм</p>
                            <p>Защищает от повреждений при погрузке
                                и транспортировке на объект</p>
                        </div>

                    </div>
                    <div class="techno__col techno__col--img">
                        <img src="images/slide13.jpg" alt="">
                    </div>
                    <div class="techno__col">
                        <div class="dotted">
                            <p><a href="#">4. Замковое соединение</a><br>Z-Lock</p>
                            <p>Препятствует проникновению паров и влаги внутрь утеплителя, обеспечивает плотное примыкание панелей</p>
                        </div>
                        <div class="dotted">
                            <p><a href="#">5. Утеплитель</a><br>Пенополистирол</p>
                            <p>Обеспечивает сохранение тепла в помещении </p>
                        </div>
                        <p><i>В целом стеновые панели делают толщиной от 50 до 80 мм, в зависимости от наличия и типа отопления
                            и климатических условий</i></p>

                    </div>
                </div>
            </div>
            <div class="tehno__wrap"  data-slide="13">
                <div class="techno__slide">
                    <div class="techno__col2">
                        <a href="#"><img src="images/slide14.jpg" alt=""></a>
                        <p><b>Монтажная пена «Титан»</b></p>
                        <p>Качественная пена позволяет работать даже в морозную погоду. Не деформирует панели за счет низкого коефициента расширения</p>
                    </div>
                    <div class="techno__col2">
                        <a href="#"><img src="images/slide15.jpg" alt=""></a>
                        <p><b>Ph-нейтральный герметик «Титан»</b></p>
                        <p>Защищает от влаги и ржавчины. Имеет прекрасную агдезию к металлическим поверхностям</p>
                    </div>
                    <div class="techno__col2">
                        <a href="#"><img src="images/slide16.jpg" alt=""></a>
                        <p><b>Эмаль «Парлакс» или «Хаммеррайт»</b></p>
                        <p>Защищает металлические поверхности
                            от перепадов температуры и коррозии</p>
                    </div>
                </div>
            </div>
            <div class="tehno__wrap"  data-slide="14">
                <div class="techno__slide">
                    <div class="techno__col3">
                        <img src="images/slide17.jpg" alt="">
                    </div>
                    <div class="techno__col3--txt">
                        <p><b>Секционные ворота Doorhan</b></p>
                        <ul>
                            <li> Полотно изготовлено из сэндвич-панелей
                                толщиной 40мм, утепленных пенополеуретаном</li>
                            <li> Совместное производство в России и Канаде</li>
                            <li> Торсионный механизм открывания гарантирует
                            25 000 циклов открывания-закрывания ворот</li>
                            <li> 8 возможных цветовых решений</li>
                        </ul>


                        <p><b>Почему это важно</b></p>
                       <ul>
                           <li> Если использовать более дешевый механизм
                               с пружинами растяжения, срок службы уменьшится
                               в 2.5 раза.</li>
                           <li> Ролетные механизмы рассчитаны всего на 3000
                               циклов, плюс их часто клинит на морозе</li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="tehno__wrap"  data-slide="15">
                <div class="techno__slide">
                    <div class="techno__col3">
                        <img src="images/slide17.jpg" alt="">
                    </div>
                    <div class="techno__col3--txt">
                        <p><b>Утепленная дверь</b></p>
                        <ul>
                            <li> толщина стальных листов — 2 мм</li>
                            <li> утеплитель — минеральная вата</li>
                            <li> Производство — Россия</li>
                            <li> Размеры — 2000×800мм</li>
                        </ul>


                        <p><b>Почему это важно</b></p>
                        <p>Недорогие китайские двери сделаны из тонкой
                            стали, а вместо утеплителя у них гофрокартон.
                            Они ненадежны, не любят низких температур
                            и часто выходят из строя</p>
                    </div>
                </div>
            </div>
            <div class="tehno__wrap"  data-slide="16">
                <div class="techno__slide">
                    <div class="techno__col3">
                        <div class="techno__col3--imgbox"><img src="" alt=""></div>
                    </div>
                    <div class="techno__col3--txt">
                        <p><b>Окна</b></p>
                        <p> ?????</p>
                        <p><b>Почему это важно</b></p>
                        <p> ?????</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>






















                     