<section class="slider">
    <div class="mbox">
        <h2>Технология производства</h2>
        <h3>Каждый элемент гаража из сендвич-панелей — это продуманное
            технологичное решение. Убедитесь в этом сами:</h3>
        <div class="slider__tabs">
            <div class="slider__tab">
                <div class="slider__tabindex">Фундамент</div>
                <ul class="slider__dropdown">
                   <li>Винтово-свайный</li>
                   <li>Плита</li>
                </ul>
            </div>
            <div class="slider__tab">
                <div class="slider__tabindex">Проект</div>
                <ul class="slider__dropdown">
                    <li>Эскиз</li>
                    <li>План на 0 отметке</li>
                    <li>Рассчет нагрузки</li>
                    <li>Чертеж ферм</li>
                    <li>Спецификации</li>
                    <li>Готовый объект</li>

                </ul>
            </div>
            <div class="slider__tab">
                <div class="slider__tabindex">Каркас</div>
                <ul class="slider__dropdown">
                    <li>Заготовка материалов</li>
                    <li>Трубы и фермы</li>
                    <li>Защитная эмаль</li>
                    <li>Сборка и гидроизоляция</li>
                    <li>Анкерение</li>

                </ul>
            </div>
            <div class="slider__tab">
                <div class="slider__tabindex">Сэндвич-панель</div>
                <ul class="slider__dropdown">
                    <li>Стеновая панель</li>
                    <li>Кровельная панель</li>
                    <li>Расходники</li>

                </ul>
            </div>
            <div class="slider__tab">
                <div class="slider__tabindex">Ворота</div>
                <ul class="slider__dropdown">
                    <li>Ворота</li>
                    <li>Двери</li>
                    <li>Окна</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="slider__wrap"></div>
</section>