<section class="slider">
    <div class="mbox">
        <h2>Технология производства</h2>
        <h3>Каждый элемент гаража из сендвич-панелей — это продуманное
            технологичное решение. Убедитесь в этом сами:</h3>
        <div class="slider__tabs">
            <div class="slider__tab">
                <div class="slider__tabindex">Фундамент</div>
                <ul class="slider__dropdown">
                   <li>Винтово-свайный</li>
                   <li>Плита</li>
                </ul>
            </div>
            <div class="slider__tab">
                <div class="slider__tabindex">Проект</div>
                <ul class="slider__dropdown">
                    <li>Эскиз</li>
                    <li>План на 0 отметке</li>
                    <li>Рассчет нагрузки</li>
                    <li>Чертеж ферм</li>
                    <li>Спецификации</li>
                    <li>Готовый объект</li>

                </ul>
            </div>
            <div class="slider__tab">
                <div class="slider__tabindex">Каркас</div>
                <ul class="slider__dropdown">
                    <li>Заготовка материалов</li>
                    <li>Трубы и фермы</li>
                    <li>Защитная эмаль</li>
                    <li>Сборка и гидроизоляция</li>
                    <li>Анкерение</li>

                </ul>
            </div>
            <div class="slider__tab">
                <div class="slider__tabindex">Сэндвич-панель</div>
                <ul class="slider__dropdown">
                    <li>Стеновая панель</li>
                    <li>Кровельная панель</li>
                    <li>Расходники</li>

                </ul>
            </div>
            <div class="slider__tab">
                <div class="slider__tabindex">Ворота</div>
                <ul class="slider__dropdown">
                    <li>Ворота</li>
                    <li>Двери</li>
                    <li>Окна</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="slider__wrap">
        <div class="techno">
            <div class="tehno__wrap">
                <div class="techno__slide">
                    <div class="techno__col">
                        <p><b>Преимущества Многовиткового свайного фундамента</b></p>
                        <ul>
                            <li> Монтируем 1 день с помощью техники</li>
                            <li> Подходит для всех типов грунта</li>
                            <li> Не нужно выкапывать яму и вывозить грунт со стройки</li>
                            <li> Можно строить в любую погоду</li>
                            <li> Не требует заливки бетоном</li>
                            <li> Монтировать фундамент можно на следующий день после ввинчивания свай</li>
                        </ul>
                        
                        <p><b>Особенности</b></p>
                        <ul>
                            <li> На участках с уклоном нужно будет организовать въезд в гараж и отделать цоколь фундамента.</li>
                            <li> Дополнительно пол нужно отсыпать щебнем или сделать бетонную стяжку</li>
                        </ul>
                        
                    </div>
                    <div class="techno__col techno__col--img">
                        <img src="images/slide01.png" alt="">
                    </div>
                    <div class="techno__col">
                        <p><b>Основные характеристики:</b></p>
                        <div class="dotted">
                            <div class="dotted_row">
                                <div class="dotted_row_left"><span>Производитель</span></div>
                                <div class="dotted_row_right"><span>АСG (Ю. Корея)</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_row_left"><span>Длина сваи</span></div>
                                <div class="dotted_row_right"><span>2000-2500 мм</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_row_left"><span>Диаметр сваи</span></div>
                                <div class="dotted_row_right"><span>76 мм</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_row_left"><span>Конструкция</span></div>
                                <div class="dotted_row_right"><span>цельная литая</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_row_left"><span>Наружное и внутреннее покрытие сваи</span></div>
                                <div class="dotted_row_right"><span>цинкование</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_row_left"><span>Несущая способность одной сваи</span></div>
                                <div class="dotted_row_right"><span>2000 мм от 2,5 т</span></div>
                            </div>
                            <div class="dotted_row">
                                <div class="dotted_row_left"><span>Обвязка</span></div>
                                <div class="dotted_row_right"><span>Двутавр 14</span></div>
                            </div>
                        </div>
                        <p><b><i>Резюме:</i></b></p>
                        <p><i>Витково-свайный фундамент — самый технологичный на сегодня. Он не требователен к грунтам и площадке</i></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






















