<section class="third">
    <div class="mbox">
        <h2>Из чего строить гараж</h2>
        <h3>Мы выбрали сэндвич-панели в качестве материала не случайно.
            Они дешевле   <span class="third__tab"><img src="" alt="">кирпича</span> , теплее   <span class="third__tab"><img
                    src="" alt="">пеноблока</span>  и удобнее  <span class="third__tab"><img src="" alt="">«шведов»</span> </h3>
        <div class="third__table">
            <div class="third__tr">
                <div class="third__td"><b>Параметры</b></div>
                <div class="third__td"><b>Сэндвич-панели</b></div>
                <div class="third__td"><b>Кирпич</b></div>
                <div class="third__td"><b>Пеноблок</b></div>
                <div class="third__td"><b>Шведы</b></div>
            </div>
            <div class="third__tr">
                <div class="third__td">Фундамент</div>
                <div class="third__td">легкий и недорогой</div>
                <div class="third__td">легкий и недорогой</div>
                <div class="third__td">легкий и недорогой</div>
                <div class="third__td">легкий и недорогой</div>
            </div>
            <div class="third__tr">
                <div class="third__td">С готовой отделкой</div>
                <div class="third__td">да</div>
                <div class="third__td">да</div>
                <div class="third__td">да</div>
                <div class="third__td">да</div>
            </div>
            <div class="third__tr">
                <div class="third__td">С готовым утеплением</div>
                <div class="third__td">да</div>
                <div class="third__td">да</div>
                <div class="third__td">да</div>
                <div class="third__td">да</div>
            </div>
            <div class="third__tr">
                <div class="third__td">Впитывает влагу и запахи (плесень и грибок)</div>
                <div class="third__td">нет</div>
                <div class="third__td">нет</div>
                <div class="third__td">нет</div>
                <div class="third__td">нет</div>
            </div>
            <div class="third__tr">
                <div class="third__td">Трещины при усадке</div>
                <div class="third__td">нет</div>
                <div class="third__td">нет</div>
                <div class="third__td">нет</div>
                <div class="third__td">нет</div>
            </div>
            <div class="third__tr">
                <div class="third__td">Можно разобрать и перенести</div>
                <div class="third__td">нет</div>
                <div class="third__td">нет</div>
                <div class="third__td">нет</div>
                <div class="third__td">нет</div>
            </div>
            <div class="third__tr">
                <div class="third__td">Гарантия</div>
                <div class="third__td">3 года</div>
                <div class="third__td">3 года</div>
                <div class="third__td">3 года</div>
                <div class="third__td">3 года</div>
            </div>
            <div class="third__tr">
                <div class="third__td">Цена</div>
                <div class="third__td">недорогой</div>
                <div class="third__td">недорогой</div>
                <div class="third__td">недорогой</div>
                <div class="third__td">недорогой</div>
            </div>
            <div class="third__tr">
                <div class="third__td">Разрешение на строительство</div>
                <div class="third__td">не нужно</div>
                <div class="third__td">не нужно</div>
                <div class="third__td">не нужно</div>
                <div class="third__td">не нужно</div>
            </div>
            <div class="third__tr">
                <div class="third__td">Отступ от границ участка</div>
                <div class="third__td">миниальный</div>
                <div class="third__td">миниальный</div>
                <div class="third__td">миниальный</div>
                <div class="third__td">миниальный</div>
            </div>
            <div class="third__tr">
                <div class="third__td">Нужно участие заказчика, подвоз материалов</div>
                <div class="third__td">нет</div>
                <div class="third__td">нет</div>
                <div class="third__td">нет</div>
                <div class="third__td">нет</div>
            </div>
            <div class="third__tr">
                <div class="third__td">Срок постройки</div>
                <div class="third__td">5—7 дней</div>
                <div class="third__td">5—7 дней</div>
                <div class="third__td">5—7 дней</div>
                <div class="third__td">5—7 дней</div>
            </div>
            <div class="third__tr">
                <div class="third__td">Строительство строго по проекту</div>
                <div class="third__td">да</div>
                <div class="third__td">да</div>
                <div class="third__td">да</div>
                <div class="third__td">да</div>
            </div>
        </div>
    </div>
</section>
