<section class="top-block">
    <div class="mbox">
        <div class="top-block__wrap">
            <div class="top-block__text">
                <h2>Производим и строим гаражи
                    из сэндвич-панелей под ключ</h2>
                <h3>Вовремя сдаем  проекты любой сложности.
                    Умеем строить <a href="#build" class="anchor">нестандартные</a> гаражи</h3>
                <a href="#constructor" class="button anchor"><span>Рассчитать проект</span></a>
            </div>
            <div class="top-block__cols">
                <div class="top-block__item">
                    <b>Проектируем</b>
                    <p>  гаражи с учетом ваших требований и опыта архитекторов</p>
                </div>
                <div class="top-block__item">
                    <b>Заготавливаем</b>
                    <p>
                        современные
                        экологичные сэндвич-
                        панели класса ISO 9003</p>
                </div>
                <div class="top-block__item">
                    <b>Монтируем</b>
                    <p>
                        за одну неделю. Сами подготовим участок
                        и доставим материалы</p>
                </div>
                <div class="top-block__item">
                    <b>Вывозим мусор</b>
                    <p>
                        бесплатно, в течение двух дней после окончания строительства гаража</p>
                </div>
            </div>
        </div>

    </div>
</section>